{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "chrome": "67",
        },
        "corejs": "2",
        "useBuiltIns": "usage"
      }],
      "@babel/preset-react"
  ],
  // 异步代码分割
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}